<h1>Editing user story</h1>

<%= render "form", user_story: @user_story %>

<br>

<div>
  <%= link_to "Show this user story", @user_story %> |
  <%= link_to "Back to user stories", user_stories_path %>
</div>
