
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-info">
      <div class="modal-header bg-primary">
        <h5 class="modal-title text-light" id="aboutModalLongTitle">Welcome To The Project Organizer App</h5>
        <button type="button" class="bg-primary" style="border: none; outline:none" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="text-align: center">
        <p>Written 2024 by Advanced Technical Labs</p>
        <p> To begin: </p>
        <p>Click "Log In" located at the upper right corner of the screen.</p>
        <p>Log in with your username and password credentials</p>

      </div>
      <div class="modal-footer" style="justify-content: center">
        <button type="button" class="btn btn-secondary bg-primary"  data-bs-dismiss="modal">OK</button>

      </div>
    </div>
  </div>
</div>
